# Compiled C++ files
*.exe
*.out
*.o
*.dSYM

# System files
Thumbs.db
.DS_Store
main.dSYM
.vscode

# Sensitive files
passwords.txt
secrets.txt
*.env
*.key


# Compiled files - no extension
main
for
midterm
practice_function
main1_1
arrays
ptr
midterm_2
class

# Temp files
tempCodeRunnerFile.cpp

# VS Code settings
.vscode


# Ignore ALL files without extension (compiled binaries)
Part 1/Part 2/Part 3/class


# Ignore all compiled binaries
output/