# Compiled C++ files
*.exe
*.out
*.o
*.dSYM

# System files
Thumbs.db
.DS_Store
main.dSYM
.vscode

# Sensitive files
passwords.txt
secrets.txt
*.env
*.key


# Compiled files - no extension
main
for
midterm
practice_function
main1_1

# Temp files
tempCodeRunnerFile.cpp

# VS Code settings
.vscode
